// Variables
$website-width:1280px;
$main-color:#ffbc00;
$light-color:#f4f4f4;
$medium-color:#ccc;
$dark-color:#333;
$bg-image:url('../img/showcase.jpg');
// Function--> Set Text Color
@function set-text-color($color) {
    @if(lightness($color)>40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}