@import 'config';
@import 'utilities';
@import 'item_grid';
@import 'media';
//General Styles
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

// Logo
#logo {
    width: 70px;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
}

// Main Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    ul {
        display: flex;
    }
    li {
        padding: 1rem 1.5rem;
    }
    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;
        &:hover {
            border-color: $medium-color;
        }
        &.current {
            border-color: $main-color;
        }
    }
}

// Header
#header {
    // Header Home
    &-home {
        background: $bg-image no-repeat center right / cover;
        height: 100vh;
        color: #fff;
        // Header Content
        .header-content {
            text-align: center;
            padding-top: 20%;
            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }
    // Header Inner
    &-inner {
        background: $bg-image no-repeat 20% 30% / cover;
        height: 5.5rem;
        border-bottom: 3px solid $main-color;
    }
}

// Home Section
#home {
    // Home Section A
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
            .fas {
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }
    // Home Section B
    &-b {
        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            li {
                line-height: 2;
                .stats-title {
                    font-size: 1.5rem;
                }
                .stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
        }
        div {
            padding: 3rem 0;
            &:nth-child(odd) {
                background-color: $light-color;
            }
            &:nth-child(even) {
                background-color: $medium-color;
            }
        }
    }
    // Home Section C
    &-c {
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
            // text-align: center;
            // process-icon
            &-icon {
                border-radius: 50%;
                background-color: $dark-color;
                color: set-text-color($dark-color);
                padding: 2rem;
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                position: relative;
                transition: all 1s;
                &:hover {
                    background-color: $main-color;
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    .process-step {
                        background-color: $dark-color;
                        color: set-text-color($dark-color);
                    }
                }
            }
            // process-step
            &-step {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 28px;
                background-color: $main-color;
                color: set-text-color($main-color);
                border-radius: 50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 1rem;
                transition: all 1s;
            }
        }
    }
}

// About Section
#about {
    // About A
    &-a {
        .about-info {
            display: grid;
            grid-template-areas: 'bioimage bio bio' 'awd1 awd2 awd3';
            grid-gap: 1.2rem;
        }
        // Grid Area
        .bio-image {
            grid-area: bioimage;
        }
        .bio {
            grid-area: bio;
            border-left: 3px solid $main-color;
            padding: 0.8rem;
        }
        .award-1 {
            grid-area: awd1;
        }
        .award-2 {
            grid-area: awd2;
        }
        .award-3 {
            grid-area: awd3;
        }
        .award-1 .fas,
        .award-2 .fas,
        .award-3 .fas {
            color: $main-color;
            margin: 1rem;
        }
    }
    // About B
    &-b {
        .progress {
            overflow: hidden;
            height: 20px;
            background: $medium-color;
            border-radius: 5px;
            margin-bottom: 0.6rem;
            div {
                height: 100%;
                // color: #fff;
                // text-align: center;
                background: $main-color;
            }
        }
    }
    // About C
    &-c {
        .about-logos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
        }
        img {
            width: 70%;
        }
    }
    // About D
    &-d {
        .testimonials {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.5rem;
            ul {
                list-style: none;
                margin-top: 1rem;
                display: flex;
                align-items: center;
            }
            p {
                border: 1px solid $medium-color;
                border-radius: 5px;
                padding: 0.5rem;
            }
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }
    }
}

// Contact Page
#contact {
    &-a {
        .text-fields {
            display: grid;
            grid-template-areas: 'name email' 'subject phone' 'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;
            // Grid Areas
            .name-input {
                grid-area: name;
            }
            .subject-input {
                grid-area: subject;
            }
            .email-input {
                grid-area: email;
            }
            .phone-input {
                grid-area: phone;
            }
            .message-input {
                grid-area: message;
                height: 100px;
            }
            .text-input {
                padding: 0.5rem 1rem;
            }
        }
        button[type='submit'] {
            color: #fff;
            width: 50%;
        }
        input:hover,
        textarea:hover {
            border-color: $main-color;
        }
    }
    &-b {
        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
        }
    }
    &-c {
        h1 {
            text-align: center;
            font-size: 4rem;
        }
    }
}

// Footer
#main-footer {
    background-color: $dark-color;
    color: #fff;
    height: 5rem;
    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;
        .social .fab {
            margin-right: 1rem;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            &:hover {
                background-color: $main-color;
            }
        }
    }
}

@import 'media';