$main-color:#ffbc00;
$light-color:#f4f4f4;
$medium-color:#ccc;
$dark-color:#333;

@function set-color($color){
    @if(lightness($color)>40){
        @return #000;
    }
    @else{
        @return #fff;
    }
}