@media(max-width:75rem) {
    //1200px   
    html {
        font-size: 60%;
    }
}

@media(max-width:56.25rem) {
    //900px
    html {
        font-size: 50%;
    }
}

@media(max-width:37.5rem) {
    //600px
    html {
        font-size: 40%;
    }
}