.container {
    margin: auto;
    max-width: 100rem;
    padding: 0 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.bottom-title {
    height: 2px;
    width: 5rem;
    background: $main-color;
    margin: auto;
}

.head {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.lead {
    font-size: 2rem;
    margin-bottom: 2rem;
}

// Padding
.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}

// Margin
.my {
    &-1 {
        margin: 1rem 0;
    }
    &-2 {
        margin: 2rem 0;
    }
    &-3 {
        margin: 3rem 0;
    }
    &-4 {
        margin: 4rem 0;
    }
}

.text-center {
    text-align: center;
}

// Buttons
.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    &-light {
        color: set-color(#fff);
        background-color: #fff;
    }
    &:hover {
        background-color: $main-color;
    }
    &-dark {
        color: set-color($dark-color);
        background-color: $dark-color;
    }
}

// Backgrounds
.bg {
    &-main {
        background-color: $main-color;
        color: set-text-color($main-color);
    }
    &-dark {
        background-color: $dark-color;
        color: set-text-color($dark-color);
    }
    &-light {
        background-color: $light-color;
        color: set-text-color($light-color);
    }
    &-medium {
        background-color: $medium-color;
        color: set-text-color($medium-color);
    }
}