.container {
  margin: auto;
  max-width: 100rem;
  padding: 0 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-title {
  height: 2px;
  width: 5rem;
  background: #ffbc00;
  margin: auto;
}

.head {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.lead {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-light {
  color: #000;
  background-color: #fff;
}

.btn:hover {
  background-color: #ffbc00;
}

.btn-dark {
  color: #fff;
  background-color: #333;
}

.bg-main {
  background-color: #ffbc00;
  color: set-text-color(#ffbc00);
}

.bg-dark {
  background-color: #333;
  color: set-text-color(#333);
}

.bg-light {
  background-color: #f4f4f4;
  color: set-text-color(#f4f4f4);
}

.bg-medium {
  background-color: #ccc;
  color: set-text-color(#ccc);
}

@media (max-width: 75rem) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5rem) {
  html {
    font-size: 40%;
  }
}

/*
MEDIA QUERY MANAGERS
0 - 600 :      Phone
600 - 900:     Tablet Portrait
900 - 1200:    Tablet Landscape
[1200 - 1800]  is where normal styles applly
1800 + :       Big Desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  line-height: 1.4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bgl {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
}

.bgm {
  background: url(../img/showcase.jpg) no-repeat 20% 30%/cover;
  height: 7rem;
  border-bottom: 3px solid #ffbc00;
}

#header-home .logo {
  width: 7rem;
  height: 7rem;
}

#header-home .logo-img {
  width: inherit;
  height: inherit;
}

#header-home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-home .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header-home .container .navbar .current {
  border-bottom-color: #ffbc00;
}

#header-home .container .navbar-item {
  display: inline-block;
  text-transform: uppercase;
  padding: .5rem 1.5rem;
}

#header-home .container .navbar-item a {
  font-size: 1.7rem;
  color: #fff;
  border-bottom: 3px solid transparent;
  padding-bottom: .7rem;
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

#header-home .container .navbar-item a:hover {
  border-bottom-color: #fff;
}

#header-home .showcase {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

#home-a .special {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#home-a .special > div i {
  font-size: 4rem;
  color: #ffbc00;
}

#home-a .special > div h3 {
  font-size: 2rem;
}

#home-a .special > div p {
  font-size: 1.5rem;
}

#home-b {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#home-b .wrapper {
  font-size: 1.5rem;
}

#home-b .wrapper:nth-child(odd) {
  background-color: #ccc;
}

#home-b .wrapper:nth-child(even) {
  background-color: #ddd;
}

#home-c .process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#home-c .process-icon {
  position: relative;
  width: 11rem;
  height: 11rem;
  line-height: 11rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#home-c .process-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #ffbc00;
}

#home-c .process-icon:hover .process-step {
  background-color: #333;
  color: #fff;
}

#home-c .process-step {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  background-color: #ffbc00;
  color: #333;
  font-size: 3rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#home-c .process h3 {
  font-size: 2rem;
}

#home-c .process p {
  font-size: 1.5rem;
}

#about-a .about-me {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'bio-image bio bio' 'award-1 award-2 award-3';
  grid-gap: 1.2rem;
}

#about-a .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bio-image;
  width: 100%;
  height: 100%;
}

#about-a .bio-desc {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  background-color: #f4f4f4;
}

#about-a .bio-desc h4 {
  font-size: 2rem;
}

#about-a .award {
  margin-top: 2rem;
}

#about-a .award-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: award-1;
}

#about-a .award-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: award-2;
}

#about-a .award-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: award-3;
}

#about-a .award i {
  color: #ffbc00;
}

#about-a .award h3 {
  font-size: 2rem;
}

#about-a .award p {
  font-size: 1.5rem;
}

#about-b {
  color: #fff;
}

#about-b .skill-item {
  margin-bottom: 2rem;
}

#about-b .skill-item p {
  font-size: 2rem;
}

#about-b .skill-item .progress {
  height: 2rem;
  width: 100%;
  border-radius: .5rem;
  background-color: #ccc;
}

#about-b .skill-item .progress > div {
  height: 2rem;
  background-color: #ffbc00;
  border-radius: .5rem;
}

#about-c {
  background-color: #ccc;
}

#about-c .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding-left: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14rem;
}

#about-c .container img {
  display: block;
}

#about-d .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding-bottom: 3rem;
}

#about-d .testimonials .testimonial > p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: .5rem;
}

#about-d .testimonials .testimonial > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-d .testimonials .testimonial > div img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

#about-d .testimonials .testimonial > div p {
  font-size: 2rem;
  margin-left: .5rem;
}

#contact-a .form {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
      grid-template-areas: 'name email' 'subject phonenumber' 'message message' 'submit submit';
}

#contact-a .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#contact-a .subject-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subject;
}

#contact-a .email-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

#contact-a .phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phonenumber;
}

#contact-a .message-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
}

#contact-a .text-input {
  padding: 1rem;
  border: 0.5px solid #a8a4a4;
  outline: none;
}

#contact-a .text-input:focus {
  outline: none;
  border: 0.5px solid #ffbc00;
}

#contact-a input[type='submit'] {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: submit;
  margin: auto;
  width: 50%;
}

#contact-b .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#contact-c h1 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
}

#work .my-works {
  background-color: #f4f4f4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: .1rem;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#work .my-works-item {
  overflow: hidden;
  position: relative;
  background-color: #ffbc00;
}

#work .my-works-item::after {
  content: '';
  position: absolute;
  background: inherit;
  opacity: .9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
}

#work .my-works-item:hover .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

#work .my-works-item:hover .cover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#work .my-works-item:hover .cover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#work .my-works-item:hover::after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

#work .my-works-item .cover {
  width: 100%;
}

#work .my-works-item .cover img {
  width: inherit;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#work .my-works-item .content {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#footer .container p {
  font-size: 2rem;
}

#footer .container .social-item {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-left: 1rem;
}

#footer .container .social-item .fab {
  color: #fff;
  padding: 1rem;
  display: inline-block;
}

#footer .container .social-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #ffbc00;
}

@media (max-width: 75rem) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5rem) {
  html {
    font-size: 40%;
  }
}
/*# sourceMappingURL=main.css.map */