@import 'config';
@import 'utilities';
@import 'media';

/*
MEDIA QUERY MANAGERS
0 - 600 :      Phone
600 - 900:     Tablet Portrait
900 - 1200:    Tablet Landscape
[1200 - 1800]  is where normal styles applly
1800 + :       Big Desktop
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px
}

body {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    line-height: 1.4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.bgl {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
}

.bgm {
    background: url(../img/showcase.jpg) no-repeat 20% 30%/cover;
    height: 7rem;
    border-bottom: 3px solid $main-color;
}

#header {
    &-home {
        .logo {
            width: 7rem;
            height: 7rem;
            &-img {
                width: inherit;
                height: inherit;
            }
        }
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .navbar {
                display: flex;
                flex-direction: row;
                .current {
                    border-bottom-color: $main-color;
                }
                &-item {
                    display: inline-block;
                    text-transform: uppercase;
                    padding: .5rem 1.5rem;
                    a {
                        font-size: 1.7rem;
                        color: #fff;
                        border-bottom: 3px solid transparent;
                        padding-bottom: .7rem;
                        transition: border-bottom 1s;
                        &:hover {
                            border-bottom-color: #fff;
                        }
                    }
                }
            }
        }
        .showcase {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
    }
}

#home {
    &-a {
        .special {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            >div {
                i {
                    font-size: 4rem;
                    color: $main-color;
                }
                h3 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &-b {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .wrapper {
            font-size: 1.5rem;
            &:nth-child(odd) {
                background-color: $medium-color;
            }
            &:nth-child(even) {
                background-color: #ddd;
            }
        }
    }
    &-c {
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            &-icon {
                position: relative;
                width: 11rem;
                height: 11rem;
                line-height: 11rem;
                background-color: $dark-color;
                color: set-color($dark-color);
                text-align: center;
                border-radius: 50%;
                transition: all 1s;
                &:hover {
                    transform: scale(1.2);
                    background-color: $main-color;
                    .process-step {
                        background-color: $dark-color;
                        color: set-color($dark-color);
                    }
                }
            }
            &-step {
                position: absolute;
                top: 0;
                right: 0;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                border-radius: 50%;
                background-color: $main-color;
                color: $dark-color;
                font-size: 3rem;
                transition: all 1s;
            }
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
}

#about {
    &-a {
        .about-me {
            display: grid;
            grid-template-areas: 'bio-image bio bio' 'award-1 award-2 award-3';
            grid-gap: 1.2rem;
        }
        .bio {
            &-image {
                grid-area: bio-image;
                width: 100%;
                height: 100%;
            }
            &-desc {
                grid-area: bio;
                background-color: $light-color;
                h4 {
                    font-size: 2rem;
                }
            }
        }
        .award {
            margin-top: 2rem;
            &-1 {
                grid-area: award-1;
            }
            &-2 {
                grid-area: award-2;
            }
            &-3 {
                grid-area: award-3;
            }
            i {
                color: $main-color;
            }
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
    &-b {
        color: #fff;
        .skill {
            &-item {
                margin-bottom: 2rem;
                p {
                    font-size: 2rem;
                }
                .progress {
                    height: 2rem;
                    width: 100%;
                    border-radius: .5rem;
                    background-color: $medium-color;
                    >div {
                        height: 2rem;
                        background-color: $main-color;
                        border-radius: .5rem;
                    }
                }
            }
        }
    }
    &-c {
        background-color: $medium-color;
        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding-left: 5rem;
            align-items: center;
            height: 14rem;
            img {
                display: block;
            }
        }
    }
    &-d {
        .testimonials {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
            padding-bottom: 3rem;
            .testimonial {
                >p {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    border: 1px solid $medium-color;
                    padding: 1rem;
                    border-radius: .5rem;
                }
                >div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img {
                        height: 4rem;
                        width: 4rem;
                        border-radius: 50%;
                    }
                    p {
                        font-size: 2rem;
                        margin-left: .5rem;
                    }
                }
            }
        }
    }
}

#contact {
    &-a {
        .form {
            display: grid;
            grid-gap: 2rem;
            grid-template-areas: 'name email' 'subject phonenumber' 'message message' 'submit submit';
        }
        .name-input {
            grid-area: name;
        }
        .subject-input {
            grid-area: subject;
        }
        .email-input {
            grid-area: email;
        }
        .phone-input {
            grid-area: phonenumber;
        }
        .message-input {
            grid-area: message;
        }
        .text-input {
            padding: 1rem;
            border: .5px solid rgb(168, 164, 164);
            outline: none;
            &:focus {
                outline: none;
                border: .5px solid $main-color;
            }
        }
        input[type='submit'] {
            grid-area: submit;
            margin: auto;
            width: 50%;
        }
    }
    &-b {
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            align-items: center;
            color: #fff;
        }
    }
    &-c {
        h1 {
            text-align: center;
            font-size: 4rem;
            color: #fff;
        }
    }
}

#work {
    .my-works {
        background-color: $light-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .1rem;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
        &-item {
            overflow: hidden;
            position: relative;
            background-color: $main-color;
            &::after {
                content: '';
                position: absolute;
                background: inherit;
                opacity: .9;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 1s;
                transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
            }
            &:hover {
                .content {
                    transform: translateY(0);
                    opacity: 1;
                }
                .cover {
                    transform: scale(1);
                    img {
                        transform: scale(1.2);
                    }
                }
                &::after {
                    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
                }
            }
            .cover {
                width: 100%;
                img {
                    width: inherit;
                    transition: all 1s;
                }
            }
            .content {
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                transform: translateY(-30%);
                transition: all 1s;
            }
        }
    }
}

#footer {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        p {
            font-size: 2rem;
        }
        .social {
            &-item {
                border: 1px solid #fff;
                display: inline-block;
                border-radius: 50%;
                transition: all .5s;
                margin-left: 1rem;
                .fab {
                    color: #fff;
                    padding: 1rem;
                    display: inline-block;
                }
                &:hover {
                    transform: scale(1.2);
                    background-color: $main-color;
                }
            }
        }
    }
}

@import 'media';
